* text=auto

/docs              export-ignore
/.github           export-ignore
/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/.php-cs-fixer.php export-ignore
/CHANGELOG.md      export-ignore
/README.md         export-ignore
/phpbench.jso      export-ignore
/phpstan.neon      export-ignore
/phpunit.xml       export-ignore
/tests             export-ignore
/benchmarks        export-ignore
/**/*Test.php      export-ignore
/**/*TestCase.php  export-ignore
/**/*Bench.php     export-ignore
