includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#Comparison operation "<" between int<80100, 80499> and 80500 is always true.#'
        - '#Dead catch - Exception is never thrown in the try block.#'
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    parallel:
        processTimeout: 300.0

